# Копируйте в .env и укажите адрес сервера на helios
CLIENT_HOST=helios.se.ifmo.ru
CLIENT_PORT=5556
DEFAULT_LANGUAGE=Русский

SERVER_PORT=5556
DB_HOST=localhost
DB_PORT=5432
DB_NAME=studs
DB_USER=postgres
DB_PASSWORD=mysecretpassword
